@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-height: 100vh;
  overflow: scroll;
}

.section-container {
  height: 100vh;
  font-size: 6vw;
  scroll-snap-align: start;
  margin-bottom:32px;
}

.section-container:nth-child(odd) {
  background: #f8f8f8;
}

.section-container:last-child {
  border: none;
}